[submodule "WeeklyTasks/Week2/wavelet"]
	path = WeeklyTasks/Week2/wavelet
	url = git@github.com:jxnlee/ucsd-cse15l-wavelet.git
[submodule "WeeklyTasks/Week4/docsearch"]
	path = WeeklyTasks/Week4/docsearch
	url = git@github.com:jxnlee/ucsd-cse15l-docsearch.git
[submodule "WeeklyTasks/Week6/list-examples-grader"]
	path = WeeklyTasks/Week6/list-examples-grader
	url = git@github.com:jxnlee/ucsd-cse15l-list-examples-grader.git
[submodule "WeeklyTasks/Week7/lab7"]
	path = WeeklyTasks/Week7/lab7
	url = git@github.com:jxnlee/ucsd-cse15l-lab7.git
[submodule "WeeklyTasks/Week8/grader-review-etang0"]
	path = WeeklyTasks/Week8/grader-review-etang0
	url = git@github.com:jxnlee/ucsd-cse15l-grader-review-etang0.git
[submodule "WeeklyTasks/Week8/grader-review-jxnlee"]
	path = WeeklyTasks/Week8/grader-review-jxnlee
	url = git@github.com:jxnlee/ucsd-cse15l-grader-review-jxnlee.git
[submodule "WeeklyTasks/Week3/lab3"]
	path = WeeklyTasks/Week3/lab3
	url = git@github.com:jxnlee/ucsd-cse15l-lab3.git
