[submodule "WeeklyTasks/Week2/wavelet"]
	path = WeeklyTasks/Week2/wavelet
	url = git@github.com:jxnlee/ucsd-cse15l-wavelet.git
[submodule "WeeklyTasks/Week3/ucsd-cse15l-lab3-week3"]
	path = WeeklyTasks/Week3/lab3-week3
	url = git@github.com:jxnlee/ucsd-cse15l-lab3-week3.git
